<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>

    <h1>Admin Dashboard</h1>

    <p>Here you can manage Users, manage Training Modules and Create new Users and Training Modules.</p>


    <h2>User Management</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.username }} - {{ user.email }} 
                <a href="{% url 'update_user' user.id %}">Edit</a> 
                <a href="{% url 'delete_user' user.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Training Modules</h2>
    <ul>
        {% for module in modules %}
            <li>{{ module.title }} 
                <a href="{% url 'update_module' module.id %}">Edit</a> 
                <a href="{% url 'delete_module' module.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    
    <p><a href="{% url 'create_user' %}">Create New User</a></p>
    <p><a href="{% url 'create_module' %}">Create New Module</a></p>

</body>
</html>
