<!DOCTYPE html>
<html>
<head>
    <title>Trainer Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ user.first_name }}!</h1>
    <h2>Your Training Modules</h2>

    {% if modules %}
    <form method="GET">
        <label for="search">Search Modules:</label>
        <input type="text" name="q" id="search" value="{{ query }}" placeholder="Search by title or description">
        <button type="submit">Search</button>
    </form>
        <ul>
            {% for module in modules %}
                <li>
                    <strong>{{ module.title }}</strong><br>
                    {{ module.description }}<br>
                    Number of Students: {{ module.enrollment_set.count }}<br>
                    <a href="{% url 'assign_student_to_module' module.id %}">Assign Student to this Module</a><br>
                    <br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any training modules yet.</p>
    {% endif %}
    
    <hr>
    <button><a href="{% url 'create_module' %}">Create New Module</a></button>
</body>
</html>
